@* @{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
<h3><a href='/categories'>View categories</a></h3>
<h3><a href='/categories/new'>Add a new category</a></h3>
 *@
@using ToDoList.Models;

<h1>To Do List</h1>

@if (Model.Count == 0)
{
  <p>There are no items in the list.</p>
}
<ul>
  @foreach (Item item in Model)
  {
    <li>@item.Description</li>
  }
</ul>
<a href="/items/new">Add a new item.</a>
<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>

